@model KUSYS_Demo.Business.DTOs.StudentDetailDto

@{
    Layout = null;
}

<div>
    
    <a><b>@Html.DisplayNameFor(model => model.FirstName): </b></a> <a>@Html.DisplayFor(model => model.FirstName)</a></br>
    <a><b>@Html.DisplayNameFor(model => model.LastName): </b></a> <a>@Html.DisplayFor(model => model.LastName)</a></br>
    <a><b>@Html.DisplayNameFor(model => model.BirthDate): </b></a> <a>@Html.DisplayFor(model => model.BirthDate)</a></br>
    <a><b>@Html.DisplayNameFor(model => model.PhoneNumber): </b></a> <a>@Html.DisplayFor(model => model.PhoneNumber)</a></br>
    <a><b>@Html.DisplayNameFor(model => model.Adress): </b></a> <a>@Html.DisplayFor(model => model.Adress)</a></br>
   
</div>

